/*a {
    color: #1b1e24;
    text-decoration: none;
}*/

/*202f38 - main color for navs*
/*1b1e24*/
/*22262E*/

/*a:hover, a:focus {
    color: #202f38;
    text-decoration: underline;
}*/

/*.navbar {
  min-height: 60px;
  margin-bottom: 40px;
}
*/

#brand {
  height: 58px;
  width: 200px;
  background: url(../img/umbreo_logo_white_svg.png) 13px 17px no-repeat;
  background-size: 130px;
}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 16px;
    font-weight: lighter;
}

/*Navbar form - Umbreo Navbar*/
form.navbar-form.navbar-right {
    margin-top: 10px !important;
    text-align: center;
    margin-bottom: 0px;
}

form.navbar-form.navbar-right a {
    border-radius: 3px;
    font-weight: lighter;
}

form.navbar-form.navbar-right a:last-child {
    margin-left: 10px;
}
/*Navbar form - Umbreo Navbar*/

.navbar-default {
    background-color: #202f38;
    border:none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: #202f38;
    border-bottom: 3px solid #28abc8;
    box-sizing: border-box;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #22262E;
    border-bottom: 3px solid #28abc8;
}

.navbar-collapse.in .navbar-form {
    text-align: center;
}

/*.navbar-default .navbar-nav>.disabled>a, .navbar-default .navbar-nav>.disabled>a:hover, .navbar-default .navbar-nav>.disabled>a:focus {
    color: #ccc;
    background-color: transparent;
}
.navbar-default .navbar-toggle {
    border-color: #22262E;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #22262E;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: #22262E;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #22262E;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #22262E;
}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #22262E;
}

.navbar-inverse {
    background-color: #202f38;
    border-color: #202f38;
}
*/
